* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration:none;
}

html {
    font-size: 62.5%; /* =10px */
  }

body{
    background-image: url(../images/fotoFondoWeb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
    font-size: 7rem;
    text-align: center;
    color:#23022E;
    font-weight:bold ;
}

h2 {
    font-size:5rem;
    text-align: center;
    color:#23022E;
    font-weight: bold;

}

h3{
    font-size: 3rem;
    color:#2E294E;
    font-weight: bold;

}

.header {
    height: 15rem;
}
.nav-menu{
    margin-top: 1rem;
}

 .menuConteiner {
    margin-top: 2,5rem;
    text-align: center;
    
 }


 
 .menuConteiner li {
    display: inline;
    font-size: 2.5rem;
    padding: 2rem;
    
 }
 

 

header li a:hover {
    background-color: #829CBC;
    color: #23022E;
}  

.videoConteiner {
    display: flex;
    justify-content:center;
}

.videoConteinerIndex {
    width: 109rem;
    height:61rem;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem ;
}

.videoIndex {
    width:108rem;
    height: 60rem;
    padding: 0,2rem;
}

.noticiasConteiner {
    margin-top: 3rem;
    height: 20rem;
    text-align: center;
}

.noticias li{
    font-size: 1.5rem;
    margin-top: 0,1rem;
    padding: 3rem;
    text-align: center;
    text-decoration: none;
    display: inline;
}

#footer{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 15rem;
    background-color:#7E7F9A;
    opacity: 0.7;
    justify-content: center;
}


.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-ul{
    display: flex;
    justify-content: center;
    width: 50%;
}

.ul-redes{
    display: flex;
}

.footer-email{
    display: flex;
    justify-content: center;
    width: 50%;
}

.footer-div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.footer-email label{
    display: flex;
    justify-content: center;
    width: 280px;
    font-size: 2.5rem;
    font-weight: bold;
}

.footer-email input{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 3rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 1.2rem;
}

li{
    padding: .5rem;
    list-style: none;
}

i{
    color: black;
    font-size: 6rem;
}

.icon-footer{
    opacity: ;
}


















